In [12]:
DATA_PATH = '../../data/modified/tmdwnsdkrhtodgo.csv'

In [13]:
import pandas as pd

df = pd.read_csv(DATA_PATH)

In [14]:
df.head()

,Unnamed: 0,Life_Stage,RP건수_B0M,RP건수_가스_B0M,RP건수_건강_B0M,RP건수_교통_B0M,RP건수_렌탈_B0M,RP건수_보험_B0M,RP건수_아파트_B0M,RP건수_유선방송_B0M,...,연령_40,연령_50,연령_60,연령_70,이용금액대,직장시도명,PC1,PC2,PC3,발급회원번호
0,0,5,2,0,0,0,0,1,0,0,...,1,0,0,0,5,0,-3.010090,0.099855,-0.058170,0
1,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,3,1,-1.777381,-0.978568,-0.383604,1
2,2,4,0,0,0,0,0,0,0,0,...,1,0,0,0,2,5,-3.825666,0.729603,0.133052,2
3,3,4,0,0,0,0,0,0,0,0,...,1,0,0,0,1,5,-3.914116,0.804384,0.144837,3
4,4,5,1,0,0,0,0,0,0,0,...,0,1,0,0,1,13,-4.097461,0.945743,0.176977,7

In [15]:
import pandas as pd

df.drop('Unnamed: 0', axis=1, inplace=True)

In [22]:
df.isnull().sum().value_counts()

0    90
Name: count, dtype: int64

In [23]:
df_bal = pd.read_csv('../../data/given/201807_잔액정보.csv')
df_bal.head()

,기준년월,발급회원번호,잔액_B0M,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,SYN_0,2493245,99811,96281,2297153,0,0,0,108404,...,1598898,244003,0,0,0,57273,0,1700813,0,0
1,201807,SYN_1,495634,256579,239055,0,0,0,0,409061,...,704504,267764,0,283025,0,273649,0,0,0,0
2,201807,SYN_2,0,0,0,0,0,0,0,0,...,114846,120720,0,0,0,0,0,0,0,0
3,201807,SYN_3,25771,25771,0,0,0,0,0,19933,...,12345,11593,0,66245,0,0,0,0,0,0
4,201807,SYN_4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_bal_filtered = df_bal[['발급회원번호', '잔액_B0M']]
df_bal_filtered.head()

  발급회원번호   잔액_B0M
0  SYN_0  2493245
1  SYN_1   495634
2  SYN_2        0
3  SYN_3    25771
4  SYN_4        0

In [31]:
import pandas as pd

df_edited = pd.read_csv('../../data/modified/r_tmdwnsdkrhtodgo.csv')
df_edited['잔액_B0M']

0          2
1          1
2          0
3          0
4          1
          ..
2396314    1
2396315    2
2396316    2
2396317    1
2396318    0
Name: 잔액_B0M, Length: 2396319, dtype: int64

In [32]:
df_edited.columns

Index(['Unnamed: 0', 'Life_Stage', 'RP건수_B0M', 'RP건수_가스_B0M', 'RP건수_건강_B0M',
       'RP건수_교통_B0M', 'RP건수_렌탈_B0M', 'RP건수_보험_B0M', 'RP건수_아파트_B0M',
       'RP건수_유선방송_B0M', 'RP건수_전기_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_통신_B0M',
       'RP건수_학습비_B0M', 'RP유형건수_B0M', '_1순위교통업종_버스지하철', '_1순위교통업종_없음',
       '_1순위교통업종_정비', '_1순위교통업종_주유', '_1순위교통업종_철도버스', '_1순위교통업종_택시',
       '_1순위납부업종_가스/전기료', '_1순위납부업종_관리비', '_1순위납부업종_납부기타', '_1순위납부업종_보험료',
       '_1순위납부업종_없음', '_1순위납부업종_통신비', '_1순위쇼핑업종_도소매', '_1순위쇼핑업종_마트',
       '_1순위쇼핑업종_백화점', '_1순위쇼핑업종_쇼핑기타', '_1순위쇼핑업종_슈퍼마켓', '_1순위쇼핑업종_아울렛',
       '_1순위쇼핑업종_없음', '_1순위쇼핑업종_온라인', '_1순위쇼핑업종_편의점', '_1순위업종_교육', '_1순위업종_교통',
       '_1순위업종_납부', '_1순위업종_사교활동', '_1순위업종_쇼핑', '_1순위업종_여유생활', '_1순위업종_요식',
       '_1순위업종_의료', '_1순위업종_일상생활', '_1순위업종_해외', '_2순위쇼핑업종_도소매', '_2순위쇼핑업종_마트',
       '_2순위쇼핑업종_백화점', '_2순위쇼핑업종_쇼핑기타', '_2순위쇼핑업종_슈퍼마켓', '_2순위쇼핑업종_아울렛',
       '_2순위쇼핑업종_없음', '_2순위쇼핑업종_온라인', '_2순위쇼핑업종_편의점', '_2순위업종_교육', '_2순위업종_교통',
       '_2순위업종_납부', '_2순위업종_사교활동', '_2순위업종_쇼핑', '_2순위업종_없음', '_2순위업종_여유생활',
       '_2순위업종_요식', '_2순위업종_의료', '_2순위업종_일상생활', '_2순위업종_해외', '_3순위업종_교육',
       '_3순위업종_교통', '_3순위업종_납부', '_3순위업종_사교활동', '_3순위업종_쇼핑', '_3순위업종_없음',
       '_3순위업종_여유생활', '_3순위업종_요식', '_3순위업종_의료', '_3순위업종_일상생활', '_3순위업종_해외',
       '거주시도명', '남녀구분코드', '연령_20', '연령_30', '연령_40', '연령_50', '연령_60', '연령_70',
       '이용금액대', '직장시도명', 'PC1', 'PC2', 'PC3', '발급회원번호', '잔액_B0M'],
      dtype='object')

In [33]:
df_edited.drop(['Unnamed: 0', '발급회원번호'], axis=1, inplace=True)

In [34]:
df_edited.rename(columns={'잔액_B0M' : 'target'}, inplace=True)

In [35]:
df_edited.columns

Index(['Life_Stage', 'RP건수_B0M', 'RP건수_가스_B0M', 'RP건수_건강_B0M', 'RP건수_교통_B0M',
       'RP건수_렌탈_B0M', 'RP건수_보험_B0M', 'RP건수_아파트_B0M', 'RP건수_유선방송_B0M',
       'RP건수_전기_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_통신_B0M', 'RP건수_학습비_B0M',
       'RP유형건수_B0M', '_1순위교통업종_버스지하철', '_1순위교통업종_없음', '_1순위교통업종_정비',
       '_1순위교통업종_주유', '_1순위교통업종_철도버스', '_1순위교통업종_택시', '_1순위납부업종_가스/전기료',
       '_1순위납부업종_관리비', '_1순위납부업종_납부기타', '_1순위납부업종_보험료', '_1순위납부업종_없음',
       '_1순위납부업종_통신비', '_1순위쇼핑업종_도소매', '_1순위쇼핑업종_마트', '_1순위쇼핑업종_백화점',
       '_1순위쇼핑업종_쇼핑기타', '_1순위쇼핑업종_슈퍼마켓', '_1순위쇼핑업종_아울렛', '_1순위쇼핑업종_없음',
       '_1순위쇼핑업종_온라인', '_1순위쇼핑업종_편의점', '_1순위업종_교육', '_1순위업종_교통', '_1순위업종_납부',
       '_1순위업종_사교활동', '_1순위업종_쇼핑', '_1순위업종_여유생활', '_1순위업종_요식', '_1순위업종_의료',
       '_1순위업종_일상생활', '_1순위업종_해외', '_2순위쇼핑업종_도소매', '_2순위쇼핑업종_마트',
       '_2순위쇼핑업종_백화점', '_2순위쇼핑업종_쇼핑기타', '_2순위쇼핑업종_슈퍼마켓', '_2순위쇼핑업종_아울렛',
       '_2순위쇼핑업종_없음', '_2순위쇼핑업종_온라인', '_2순위쇼핑업종_편의점', '_2순위업종_교육', '_2순위업종_교통',
       '_2순위업종_납부', '_2순위업종_사교활동', '_2순위업종_쇼핑', '_2순위업종_없음', '_2순위업종_여유생활',
       '_2순위업종_요식', '_2순위업종_의료', '_2순위업종_일상생활', '_2순위업종_해외', '_3순위업종_교육',
       '_3순위업종_교통', '_3순위업종_납부', '_3순위업종_사교활동', '_3순위업종_쇼핑', '_3순위업종_없음',
       '_3순위업종_여유생활', '_3순위업종_요식', '_3순위업종_의료', '_3순위업종_일상생활', '_3순위업종_해외',
       '거주시도명', '남녀구분코드', '연령_20', '연령_30', '연령_40', '연령_50', '연령_60', '연령_70',
       '이용금액대', '직장시도명', 'PC1', 'PC2', 'PC3', 'target'],
      dtype='object')

In [36]:
df_edited.shape

(2396319, 90)

In [37]:
df_edited['target']

0          2
1          1
2          0
3          0
4          1
          ..
2396314    1
2396315    2
2396316    2
2396317    1
2396318    0
Name: target, Length: 2396319, dtype: int64

In [40]:
df_edited['target'].value_counts()

target
1    1181247
2     643499
0     571573
Name: count, dtype: int64

In [38]:
df_edited.to_csv('../../data/modified/PCA_3_df.csv', index=False)