In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../../data/modified/data_pro.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976718 entries, 0 to 2976717
Data columns (total 69 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   최초한도금액              int64
 2   카드이용한도금액            int64
 3   CA한도금액              int64
 4   일시상환론한도금액           int64
 5   월상환론한도금액            int64
 6   CA이자율_할인전           float64
 7   CL이자율_할인전           float64
 8   RV일시불이자율_할인전        float64
 9   RV현금서비스이자율_할인전      float64
 10  카드이용한도금액_B1M        int64
 11  카드이용한도금액_B2M        int64
 12  특별한도보유여부_R3M        int64
 13  연체감액여부_R3M          int64
 14  한도심사요청건수            int64
 15  한도요청거절건수            int64
 16  한도심사요청후경과월          int64
 17  한도심사거절후경과월          int64
 18  시장단기연체여부_R6M        int64
 19  시장단기연체여부_R3M        int64
 20  시장연체상환여부_R6M        int64
 21  시장연체상환여부_R3M        int64
 22  rv최초시작후경과일          int64
 23  카드이용한도금액_log        float64
 24  남녀구분코드              int64
 25  연령                  int64
 26  회원여부_이용가능           int64
 27  회원여부_이용가능_CA        int64
 28  회원여부_이용가능_카드론       int64
 29  소지여부_신용             int64
 30  소지카드수_유효_신용         int64
 31  소지카드수_이용가능_신용       int64
 32  입회경과개월수_신용          int64
 33  회원여부_연체             int64
 34  이용거절여부_카드론          int64
 35  탈회횟수_발급6개월이내        int64
 36  탈회횟수_발급1년이내         int64
 37  유효카드수_신용체크          int64
 38  유효카드수_신용            int64
 39  유효카드수_신용_가족         int64
 40  유효카드수_체크            int64
 41  유효카드수_체크_가족         int64
 42  이용가능카드수_신용체크        int64
 43  이용가능카드수_신용          int64
 44  이용가능카드수_신용_가족       int64
 45  이용가능카드수_체크          int64
 46  이용가능카드수_체크_가족       int64
 47  이용카드수_신용체크          int64
 48  이용카드수_신용            int64
 49  이용카드수_신용_가족         int64
 50  이용카드수_체크            int64
 51  이용카드수_체크_가족         int64
 52  이용금액_R3M_신용체크       int64
 53  이용금액_R3M_신용         int64
 54  이용금액_R3M_신용_가족      int64
 55  이용금액_R3M_체크         int64
 56  이용금액_R3M_체크_가족      int64
 57  _1순위카드이용금액          int64
 58  _1순위카드이용건수          int64
 59  _1순위신용체크구분          int64
 60  최종카드발급일자            object
 61  보유여부_해외겸용_본인        int64
 62  이용가능여부_해외겸용_본인      int64
 63  이용여부_3M_해외겸용_본인     int64
 64  보유여부_해외겸용_신용_본인     int64
 65  이용가능여부_해외겸용_신용_본인   int64
 66  이용여부_3M_해외겸용_신용_본인  int64
 67  연회비발생카드수_B0M        int64
 68  카드신청건수              int64
dtypes: float64(5), int64(63), object(1)
memory usage: 1.5+ GB

In [25]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [61]:
def comb(a, b, c, d):
    return len(df.loc[(df['시장단기연체여부_R3M'] == a) & (df['시장단기연체여부_R6M'] == b) &
    (df['시장연체상환여부_R3M'] == c) & (df['시장연체상환여부_R6M'] == d)])

In [78]:
comb(1,1,1,1)

0

In [103]:
len((df['이용여부_3M_해외겸용_본인'] == 0) & (df['이용여부_3M_해외겸용_신용_본인'] == 1))

2976718

In [104]:
from datetime import datetime

def how_many_days(date):
    date_object = datetime.strptime(date, "%Y-%m-%d")
    today = datetime.today()
    days_diff = (today - date_object).days
    return days_diff

In [105]:
df.loc[df['_1순위카드이용건수'] > 0]['_1순위카드이용건수'].sort_values()

2831343      1
713435       1
284006       1
400594       1
1135529      1
          ...
2827259    223
521947     224
1486250    224
2760553    224
713969     225
Name: _1순위카드이용건수, Length: 2349682, dtype: int64

In [13]:
df['최종카드발급기간'] = [ how_many_days(date) for date in df['최종카드발급일자'] ]
df['최종카드발급기간'][:5]

KeyboardInterrupt

In [107]:
df.loc[(df['시장단기연체여부_R3M'] == 1) | (df['시장단기연체여부_R6M'] == 1)]

,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,RV현금서비스이자율_할인전,카드이용한도금액_B1M,...,_1순위신용체크구분,최종카드발급일자,보유여부_해외겸용_본인,이용가능여부_해외겸용_본인,이용여부_3M_해외겸용_본인,보유여부_해외겸용_신용_본인,이용가능여부_해외겸용_신용_본인,이용여부_3M_해외겸용_신용_본인,연회비발생카드수_B0M,카드신청건수
63622,0,0,0,0,0,22.993808,22.995058,20.017696,23.000000,0,...,1,2016-02-24,1,0,0,1,0,0,0,0
67133,0,0,0,0,0,22.998025,22.996077,19.837953,23.000000,0,...,1,2017-01-31,0,0,0,0,0,0,0,0
77531,0,0,0,0,0,22.992503,22.996736,20.012828,22.994388,0,...,1,2016-07-03,1,1,0,1,0,0,0,0
90474,0,0,0,0,0,22.993515,23.000000,20.049155,23.000000,0,...,1,2015-12-20,1,0,0,1,0,0,0,0
95683,0,0,0,0,0,22.995659,22.992451,20.024859,22.998306,0,...,0,2015-11-17,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2893330,0,412247,0,0,0,22.994547,22.998712,19.239391,22.995102,475375,...,1,2016-12-13,1,0,0,1,0,0,0,0
2897733,0,0,0,0,0,22.995608,22.998966,20.010625,22.994987,0,...,1,2016-01-27,1,0,0,1,0,0,0,0
2925552,0,0,0,0,0,22.999963,22.997299,19.953694,23.000000,0,...,0,2015-11-26,1,1,0,1,0,0,0,0
2974823,0,0,0,0,0,23.000000,22.997267,20.037902,22.997398,0,...,1,2015-10-31,1,0,0,1,0,0,0,0
2975920,0,0,0,0,0,22.996475,22.999048,19.800922,22.993105,0,...,1,2016-11-07,1,0,0,1,0,0,0,0